html, body, h1, h2, h3, h4, h5, p {
    font-family: Qanelas, sans-serif !important;
}

body {
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    overflow-x: hidden;

    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    font-smoothing: antialiased;

    -moz-text-shadow: 0 0 1px rgba(0, 0, 0, 0.01);
    -ms-text-shadow: 0 0 1px rgba(0, 0, 0, 0.01);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.01);

    -webkit-text-stroke: 1px transparent;
    -moz-text-stroke: 1px transparent;
    -ms-text-stroke: 1px transparent;
    text-stroke: 1px transparent;
}

:focus {
    outline: -webkit-focus-ring-color auto 0;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6
}

.search-basic {
    float: right;
    background-color: transparent;
}

/*************Header.php - NavBar, search e anuncie aqui***********/
.logo-header{
    margin-top: 10px;
}
.menu-desktop {
    padding-top: 20px;
}

.menu-my-account {
    border: 1px solid #1d7d74;
}

.menu-my-account:hover {
    background-color: #1d7d74 !important;
    color: #fff !important;
}

.nav-menu {
    background-color: transparent !important;
    height: auto;
    overflow: auto;
}

.nav-menu a {
    color: #000000 !important;
}

.link-menu:hover {
    color: #1d7d74 !important;
}

.nav-menu li:hover, nav ul a:hover {
    background-color: transparent !important;
}

.nav-menu li.active {
    text-decoration: underline;
    background: none;
}

.button_anuncie_aqui {
    float: right;
    margin-left: inherit !important;
}

.btn-anuncie-aqui {
    float: right;
}

.btn-pesquisa-news {
    float: right;
    margin-right: 20px;
}

.icon-menu-mobile:hover {
    color: #1d7d74 !important;
}

.menu-mobile {
    top: inherit !important;
}

.slick-prev, .slick-next {
    z-index: 999;
}

.slick-prev {
    left: 15px !important;
}

.slick-next {
    right: 15px !important;
}

.div-anuncie-home {
    padding-left: 0 !important;
}

.link-anuncie {
    height: auto;
    overflow: auto
}

.link-anuncie:hover {
    opacity: 0.7;
}

.anuncie-mobile {
    display: none;
}

/**********************Fim Header******************/

/************news e fipe ******************/
.news_fipe {
    margin-top: 20px;
}

.news_content_car p:hover {
    text-decoration: underline;
    color: #1d7d74 !important;
    font-weight: bold;
}

.title_news {
    text-align: center;
    border-top: 5px solid #1d7d74;
    font-weight: bold;
    width: 300px;
    display: block;
    margin: 0 auto;
    padding: 20px;
}

.title_fipe {
    text-align: center;
    border-top: 5px solid #1d7d74;
    font-weight: bold;
    width: 300px;
    display: block;
    margin: 0 auto;
    padding: 20px;
}

.fipe_icons {
    display: table;
}

.fipe h4 {
    text-align: center;
    font-size: 31px;
}

.fipe p {
    text-align: center;
    font-size: 20px;
}

.fipe_button {
    display: table;
    margin-bottom: 40px;
}

.title_search_advanced {
    font-size: 17px !important;
    color: #000000;
}

.title_search_advanced:hover {
    color: #1d7d74;
    font-weight: bold;
    text-decoration: underline;
}

.button_pesquisar {
    margin-top: 65px;
}

.cards_news_home:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

}

/******************all_news**************/

.date_news {
    margin-top: 50px !important;
}

.date_news h5 {
    font-size: 16px;
}

.all_news_pagination {
    display: table;
}

.pagination li.active {
    background-color: #1d7d74 !important;
}

.all_news_read_more {
    float: right;
    display: flex;
}

/*******************Fim news e FIPE**************/

/****** Basic-search.php e veiculos_destaque*******/
.title_div_cars {
    margin-top: 60px;
}

.title_div_cars h5, .title-news-date h1 {
    text-align: center;
    border-top: 5px solid #1d7d74;
    font-weight: bold;
    width: 300px;
    display: block;
    margin: 0 auto;
    padding: 20px;
}

.btn_basic_search {
    padding-top: 18px !important;
}

/**************duvidas*-*****************/

.doubts-title {
    border-top: 5px solid #1d7d74;
    font-weight: bold;
    width: 300px;
    display: block;
    margin: 0 auto;
    padding: 20px;
    float: left;
}

.doubts-title h1 {
    font-size: 33px;
    font-weight: bold;
}

/**********advanced-search**************/

.title-advanced-search {
    border-top: 5px solid #1d7d74;
    /*font-weight: bold;*/
    width: 300px;
    display: block;
    margin: 0 auto;
    padding: 10px;
    float: left;

}

.title-advanced-search h1 {
    font-size: 33px;
    font-weight: bold;
}

.title-advanced-search h1:hover {
    color: #1d7d74;
}

/*********************Fim Basic-search.php***********************/

/**************veiculos_destaque*********/
.list-featured-vehicles {
    margin-bottom: 110px;
}

.content_car {
    margin: 0 auto;
}

.content_car h5 {
    font-size: 22px;
    font-weight: bold;
}

.content_car p {
    color: #000000 !important;
    font-size: 14px;
}

.content_car p:hover {
    text-decoration: underline;
    color: #1d7d74 !important;
    font-weight: bold;
}

.icon_velocimetro {
    float: left;
}

.marca_ano:hover {
    color: #1d7d74 !important;
}

.transition-300ms {
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.icon-view-more {
    visibility: hidden;
    opacity: 0.5;
}

.card-vehicles:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-anuncie-home:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

}

.card-image-vehicles:hover .icon-view-more {
    visibility: visible;
    opacity: 1;
}

.view-more-button {
    display: block;
    margin: 0 auto;
    width: 150px;
}

.box-view-more-button-news-home {
    width: 100%;
    display: inline-block;
    margin: 50px auto;
    text-align: center;
}

.cod-vehicle:hover {
    font-weight: bold;
}

/********Fim  veiculos_destaque**************/

/*********************footer***********************/
.title_footer {
    border-top: 5px solid #1d7d74;
    width: 300px;
    padding: 10px;
}

.footer-row {
    margin-bottom: inherit !important;
}

.footer-classificados {
    background-color: inherit !important;
}

.cards_footer:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

}

/****************Fim footer*****************/

/*********** detalhes dos veiculos**********/

.img-thumb-single img {
    padding: 3px;
    cursor: pointer;
}

.description-vehicle {
    border-top: 5px solid #1d7d74;
}

.description-vehicle h1 {
    font-size: 30px !important;
}

.description-vehicle p {
    font-size: 25px !important;
    color: #900;
    border-bottom: 2px solid #1d7d74;
}

.vehicle-details p {
    font-size: 13px !important;
}

.vehicle-details-icon {
    margin-right: 8px !important;
}

.vehicle-details-icon:hover {
    color: #1d7d74;
}

.vehicle-details-tabs a {
    color: #000000 !important;
}

.vehicle-details-tabs a:hover {
    color: #1d7d74 !important;
    font-weight: bold;
}

.vehicle-details-tabs .indicator {
    background-color: #1d7d74 !important;
}

.vehicle-details-button-enviar-proposta {
    display: table;
}
.div-item-serie{
    margin-top: 10px;
    padding: 13px !important;
}
.div-item-serie label{
    cursor: default !important;
    float: left;
    height: auto;
    line-height: 20px;
}
/*****************tab +informações*******************/
.container-tabs-form {
    min-height: 630px;
}

.tabs-home {
    border-right: 1px solid #1d7d74 !important;
    min-height: 630px !important;
}

.tab-informacoes p {
    font-size: 18px !important;
}

.tab-title-itens-opcionais {
    font-size: 25px !important;
}

.button-send-proposta {
    margin: 0 auto;
    display: block;
}

.texto-info p {
    font-size: 18px;
}

.link-title-tab {
    font-size: 18px !important;
    font-weight: bold;

}

.tab-informacoes-opcionais {
    /*font-size: 25px!important;*/
    border-top: 2px solid #1d7d74 !important;
}

.title-proposta {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 0;
    margin: 0;
}

.list-opcionals p {
    word-break: break-all !important;
}

/*****single news****/
#dpsp-content-bottom ul {
    display: -webkit-inline-box !important;
}

.thumb-single-news img {
    margin: 0 auto;
    display: block;
    max-width: 800px;
    width: 100%;
    height: auto;

}

.content-single-news {
    text-align: center;
    font-size: 16px;
    width: 80%;
    margin: 0 auto;
}

.title-news-date {
    text-align: center;
}

.title-news-date h1 {
    font-size: 35px;
}

.div-single-date {
    width: 200px;
    margin: 0 auto;
}

.div-single-date i {
    float: left !important;
}

.div-single-date p {
    margin: 0;
    padding-top: 3px;
}

.content-single-news img {
    width: 100%;
    max-width: 800px;
    height: auto;
}

/*********************advanced search****************/

.card-ano-preco {
    height: 190px;
}

.card-options-advanced-search:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.button-advanced-search {
    margin: 0 auto;
    display: table;
    width: 260px;
}

.btn-return {
    margin-right: 50px;
}

/**************minha conta*************/
.login {
    height: 460px !important;
}

/***************sobre***************/
.div-pag {
    height: 600px !important;
}

/*************search.php*****************/
.info_return_search h3 {
    text-align: center;
}

.info_return_search h3:hover {
    color: #1d7d74;
}

/*****************************media queries*************************/

@media only screen and (max-width: 1024px) {
    .news_paragraph {
        max-height: 80px !important;
        overflow: inherit !important;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 800px) {
    .button_drop {
        font-size: 10px !important;
    }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 600px) {
    .description-vehicle h1, .price-veiculo{
        text-align: center;
    }
    .description-vehicle, .description-vehicle p{
        border: none;
    }

    .img-slide-full{
        margin: 0 auto;
    }
    .anuncie-mobile {
        display: block;
        margin: 20px auto;
    }

    .anuncie-desktop {
        display: none;
    }

    .buttons_search_basic {
        margin-bottom: 10px !important;
        display: grid !important;
    }

    .button_pesquisar_02 {
        display: grid !important;
    }

    .button_anuncie_aqui a {
        font-size: 10px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 1300px) {
    .fipe_button {
        margin-top: auto;
    }

    .button_anuncie_aqui a {
        font-size: 10px;
    }

}

@media only screen and (max-width: 320px) {
    .fipe {
        margin-top: 12px !important;
    }
}



